.bgc-primary {
  background-color: #6379f4;
}

.bg-8ed {
  background-color: #e5e8ed;
}

.bg-gray1 {
  background-color: rgba(58, 61, 66, 0.1);
}

.sec-card {
  background-color: white !important;
  box-shadow: 0px 4px 20px 0px #0000000d;
  border-radius: 20px;
}

.rds-25p {
  border-radius: 25% !important;
}

.rds-20 {
  border-radius: 20px !important;
}

.rds-12 {
  border-radius: 12px !important;
}

.rds-10 {
  border-radius: 10px !important;
}
.rds-0 {
  border-radius: 0px !important;
}

.rotate90 {
  transform: rotate(90deg);
}

.modal-confirm-pin .modal-content {
  border-radius: 20px !important;
}
