.btn-disable {
  background-color: #dadada !important;
  border: none;
  color: #88888f !important;
}

.btn-enable {
  background-color: #6379f4 !important;
  color: #ffffff !important;
  border: none;
}

.btn-error {
  background-color: #ff5b37 !important;
  color: #ffffff !important;
  border: none;
}

.btn-export {
  background-color: rgba(99, 121, 244, 0.15) !important;

  color: #6379f4 !important;
  border: none;
}
